/* Created by Computer Cat, Maintained by Benzeel */ /*v4*/ 

/* --- v Custom dm/server/channel backgrounds (per instance) v --- */
div.chat_f75fb0 {
  /* Uncomment this if you *do not* want to be fully consistent with normal discord*/
  background: var(--background-gradient-chat,var(--background-base-lower));
  
  /* Try commenting this out if you have a theme*/
  div.subtitleContainer_f75fb0 > .title_f75fb0, main.chatContent_f75fb0, 
  div.subtitleContainer_f75fb0 > .title_f75fb0 > .upperContainer__9293f > 
  .children__9293f::after, .wrapper__6c798, .wrapper_fc8177, .container_f369db
  {background: transparent !important;}
  border-top: 1px solid #1f1f1f !important;
  border-right: 1px solid #1f1f1f;
  /* end theme dependent section*/

  background-size: cover !important;
  background-position: center !important;
  /* forum card background tint */
  .mainCard_f369db {
    background: #0000002d;
    backdrop-filter: blur(20px);
  }
  .mainCard_f369db:hover {
    background: #00000057;
  }
  /* Tint */ /* CURRENTLY BREAKS FORUM CHAT WINDOWS */
  position: relative;
  &::before { content: ""; position: absolute; inset: 0;} 
  /*Uncomment to specify custom textbar color.
  .channelTextArea_f75fb0 > div
  { background: #0000001c;}
        
  /* DM's */
  /*                Duplicate this part per user.                                                                                                                   v ID HERE                                      V URL HERE                TINT HERE IF YOU WANT IT V         Blur (May Cause Lag) V */
  &:has(> div > section > div > div.children__9293f > div > div > svg > foreignObject > div > img[src^="https://cdn.discordapp.com/avatars/411305656231133194"]) {background: url("https://m.patchokki.art/m/7i9.gif"); &::before {background: #0008 ; /*backdrop-filter: blur(5px);*/}}

}


/*div[class^="content_"]:has(div[class^="sidebar"]) {*/
.content__5e434 {

    /* Servers/Channel                                    (server id first + channel id after to target a channel) */
    /* Duplicate this part per server.                       v ID(s) HERE                                                  v URL HERE               TINT HERE IF YOU WANT IT v       Blur (May Cause Lag) V*/
    &:has(li.containerDefault_c69b6d [href^="/channels/1145096753301946500"]) div.chat_f75fb0 { background: url("https://m.patchokki.art/m/7i9.gif"); &::before {background: #00000086; /*backdrop-filter: blur(5px);*/}}
    
}
/* --- ^ Custom dm/server/channel backgrounds (per instance) ^ --- */

/* reaction, msg actions popover theming (optional, uncomment if you wish to theme it) 
.popover_f84418 {background: #00000000 !important;} */

/* fix chat date divider text background */
.content__908e2 {background: transparent; backdrop-filter: blur(2px);} 

/* darken top bar */
.subtitleContainer_f75fb0 {background: #0000003d; /*backdrop-filter: blur(5px);*/}

/* fix skeleton loader background */
.wrapper_d852db {background-color: transparent;}

/* jump to present bar blur & tint */
.bottomBar__0f481 {background-color: #0000002f;backdrop-filter: blur(10px);}

/* remove reply badge background */
.replyBadge_c19a55 {background: none;}
