
/* Created by Computer Cat, Maintained by Benzeel*/ /*v2*/

/*NOTE, THIS HAS BUGGINESS WITH MUILTI LINE MESSAGES AND OCCASIONALLY PUSHING THE CHAT UP*/

/* ---- v Indev transparent messagebox v ---- */
form.formWithLoadedChatInput_f75fb0 { margin-top: calc(-16px - 10vh) !important;} /* Eat message area's space */
div[class*="messagesWrapper_"] > div[class*="bottomBar_"] {bottom: calc(10vh + 28px);} /* Fix new messages bar*/
div[class*="messagesWrapper_"] > div[class*="bottomBar__"], /* New messages bar */
div[class*="autocomplete_"], /* Emojis and stuff */
div[class*="channelTextArea_"]::before { /* actual text area */
  backdrop-filter: blur(10px); /* Configure blur amount here */
}

[class*="autocompleteInner_"] {
  background-color: #00000023;
}

div[class*="channelTextArea_"] { /* actual text area overrides */
  position: relative;
  background: transparent !important;
  &::before { content: ""; position: absolute; inset: 0; border-radius: inherit; } /* Set up blur */
  > * { position: relative;} /* Fix some stuff */
  > [class*="autocomplete_"] { position: absolute; } /* Override commands and emoji menu format */
  > *:not([class*="autocomplete-"]) {background: 0 0 !important;} /* Text area's internals excluding emojis and commands */
}

ol[class*="scrollerInner_"][data-list-id="chat-messages"]::after { /* Add spacer for the bottom*/
  display: block;
  content: "";
  position: relative;
  height: 10vh;
}

div[class*="floatingBars_"] {[class*="-banner"] { background: 0 0;}} /* Override for new member steps */

[class="chatTypingGradientNotAtBottom__36d07 chatGradientBase__36d07"] { /* hide typing gradient */
  display: none !important;
}
/* ---- ^ Indev transparent messagebox ^ ---- */

/* fix & thin out scrollbar */
.managedReactiveScroller_d125d2,.scroller__36d07 {
  &::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }


  &::-webkit-scrollbar-track, &::-webkit-scrollbar-thumb {
   visibility: visible; 
  }
  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: var(--scrollbar-thin-thumb); /*change this to change scrollbar colour*/
    border: 2px solid transparent;
    border-radius: 6px;
    
  }
  &:hover::-webkit-scrollbar-track, &:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
  &::-webkit-scrollbar-button:end:increment{
    height: 88px;
  }
  &:hover::-webkit-scrollbar-track {
    background-color: #3f3f3f6e;
  }
}
